/*
************
*************************
26. 404
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.error-content h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 27px;
  @media #{$md}{
    font-size: 45px;
  }
  @media #{$xs}{
    font-size: 40px;
  }
  @media #{$sm}{
    font-size: 45px;
  }
}