/*
************
*************************
21. breadcrumb
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.breadcrumb {
    &-area {
        min-height: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        @media #{$xs}{
            min-height: 300px;
        }
    }
    &-content {
        text-align: center;
    }
    &-title {
        color: var(--clr-body-heading);
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 10px;
        @media #{$md}{
            font-size: 45px;
        }
        @media #{$xs}{
            font-size: 35px;
        }
        @media #{$sm}{
            font-size: 40px;
        }
    }
    &-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        a {
            color: var(--clr-body-heading);
            display: block;
            position: relative;
            z-index: 1;
            font-size: 16px;
            font-weight: 500;
            &::after {
                display: inline-block;
                content: "/";
                font-size: 14px;
                font-weight: 400;
                margin-left: 10px;
            }
        }
        span {
            color: var(--clr-theme-primary);
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.breadcrumb-shape {
	position: absolute;
	top: 70px;
	right: 31%;
    animation: animation-popup-1 4s linear 0s infinite alternate;
    @media #{$lg}{
        right: 25%;
    }
    @media #{$md}{
        top: 60px;
        right: 20%;
    }
    @media #{$xs}{
        top: 40px;
        right: 15%;
    }
    @media #{$sm}{
        right: 20%;
    }
}
