/*
************
*************************
10. button
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// default theme btn 
.theme-btn {
    background: var(--clr-theme-primary);
    color: var(--clr-common-white);
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border: none;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 500px;
        height: 200px;
        background-color: #08449E;
        border-color: transparent;
        border-radius: 100px;
        transform: translate(-40px, -80px) scale(0.1);
        opacity: 0;
        z-index: -1;
        @include transition(.5s);
    }
}
.theme-btn:hover {
    color: #fff;
    &::after {
        opacity: .5;
        transform-origin: 100px 100px;
        transform: scale(1) translate(-10px, -70px);
    }
}

.theme-btn-big {
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
}
.theme-btn-medium {
    height: 45px !important;
    line-height: 45px !important;
    padding: 0 20px;
}
.theme-btn-full {
    width: 100%;
    justify-content: center;
}

.theme-btn-3 {
    border-radius: 6px;
    background: var(--clr-theme-primary-3);
    box-shadow: 0px 2px 5px 0px rgba(32, 42, 61, 0.20);
    &::after {
        background-color: #a73301;
    }
    i {
        margin-left: 5px;
    }
}

.theme-btn-4 {
    border-radius: 100px;
    background: var(--clr-theme-primary-4);
    color: var(--clr-body-heading);
    font-size: 15px;
    font-weight: 500;
    &::after {
        color: var(--clr-body-heading);
        background-color: #c79216;
    }
    &:hover {
        color: var(--clr-body-heading);
    }
}

.theme-btn-5 {
    border-radius: 0;
    background: var(--clr-theme-primary-5);
    color: var(--clr-body-heading);
    font-size: 16px;
    font-weight: 600;
    &::after {
        color: var(--clr-body-heading);
        background-color: #c7c108;
    }
    &:hover {
        color: var(--clr-body-heading);
    }
}

.theme-btn-6 {
    border-radius: 0;
    background: var(--clr-theme-primary-6);
    &::after {
        background-color: #8b030a;
    }
    i {
        margin-left: 5px;
    }
}

.theme-btn-8 {
    border-radius: 6px;
    background: #395BDF;
    font-weight: 500;
    font-size: 15px;
    height: 50px;
    &::after {
        background-color: #8b030a;
    }
    i {
        margin-left: 5px;
    }
}

.theme-btn-9 {
    border-radius: 6px;
    background: #1865F2;
    font-weight: 500;
    font-size: 15px;
    height: 50px;
    &::after {
        background-color: #8b030a;
    }
    i {
        margin-left: 5px;
    }
}

.theme-btn-7 {
    height: 50px;
    padding: 0 35px;
    border-radius: 0;
    background: var(--clr-theme-primary-6);
    &::after {
        background-color: #8b030a;
    }
    i {
        margin-left: 5px;
    }
    &-yellow {
        background-color: #F4B826;
        color: #17161C;
    }
}
.h7_header {
    &-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        padding: 0 30px;
        color: #fff;
        font-size: 16px;
        height: 45px;
        font-weight: 600;
        background-color: var(--clr-theme-primary-6);
        svg {
          color: #fff;
        }
    }
}


.theme-btn-10 {
    height: 50px;
    padding: 0 25px;
    border-radius: 0;
    background-color: var(--clr-theme-primary-10);
    border-radius: 4px;
    gap: 7px;
    &::after {
        background-color: #4240A6;
    }
    i {
        margin-left: 5px;
    }
    &-transparent {
        background-color: transparent;
        border: 1px solid #fff;
        &:hover {
            background-color: #fff;
            color: var(--clr-theme-primary-10);
            border-color: #fff;
        }
        &::after {
            display: none;
        }
    }
    &-white {
        background-color: #fff;
        color: var(--clr-theme-primary-10);
    }
}



.h3_banner-form-btn {
    padding: 0 35px;
}
.h4_about-btn,
.h4_blog-btn {
    height: 50px;
}

.t-theme-btn {
    background-color: #fff;
    border: 1px solid rgba(30, 30, 30, 0.1);
    color: var(--clr-body-heading);
    padding: 0 20px;
    &:hover {
        background-color: var(--clr-theme-primary);
        color: #fff;
    }
    &::after {
        display: none;
    }
}


// video play btn 
.h5_play-btn {
    width: 150px;
    height: 150px;
    background: var(--clr-theme-primary-5);
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease;
    display: grid;
    place-items: center;
    color: var(--clr-body-heading);
    font-size: 25px;
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        animation-name: popupBtn;
        animation-duration: 1.8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: -1;
    }
    &:hover {
        background-color: var(--clr-theme-primary-4);
        color: var(--clr-body-heading);
    }
}
  
// play btn keyframe
@keyframes popupBtn {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.4);
      opacity: 0.3;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
}