/*
************
*************************
15. career
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.h8_career {
    &-area {
        background-color: #F4F7FF;
    }
}

.h8_career-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 100px 0px rgba(8, 5, 33, 0.10);
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 55px 40px 60px 30px;
    @media #{$lg}{
      flex-direction: column;
    }
    @media #{$xs}{
      flex-direction: column;
      padding: 45px 40px 50px 30px;
    }
    @media #{$sm}{
      flex-direction: row;
      padding: 45px 30px 50px 30px;
      gap: 20px;
    }
  }
  .h8_career-item-img {
    flex-shrink: 0;
    width: 244px;
    @media #{$lg, $xs}{
      width: 100%;
    }
    @media #{$sm}{
      width: 224px;
    }
  }
  .h8_career-item-img img {
    width: 100%;
  }
  .h8_career-item-content span {
    color: #395BDF;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
    display: block;
  }
  .h8_career-item-content h4 {
    color: #021936;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 43px;
  }

  .h8_career-btn {
    height: 40px;
    padding: 0 20px;
  }