/*
************
*************************
29. faq
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.h9_choose-item {
    background: #F5F5F5;
    padding: 55px 45px 68px;
    text-align: center;
    border-radius: 20px;
    @media #{$xl}{
      padding: 55px 40px 68px;
    }
    @media #{$lg}{
      padding: 55px 30px 68px;
    }
    @media #{$md}{
      padding: 55px 30px 68px;
    }
    @media #{$xs}{
      padding: 55px 30px 68px;
    }
  }
  .h9_choose-item-icon {
    margin-bottom: 50px;
  }
  .h9_choose-item-icon img {
    width: 85px;
    transition: all 0.3s linear 0s;
  }

  .h9_choose-item:hover .h9_choose-item-icon > img {
      transform: scale(1.1) translateY(-5px);
  }
  .h9_choose-item-title {
    color: #21242C;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 19px;
    @media #{$lg}{
      font-size: 20px;
    }
    @media #{$xs}{
      font-size: 20px;
    }
  }
  .h9_choose-item p {
    color: rgba(33, 36, 44, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
  }


  
.h9_choose-item-big {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 30px 40px 0px rgba(33, 36, 44, 0.08);
    overflow: hidden;
  }
  .h9_choose-item-big-content {
    padding: 40px 40px 70px;
    @media #{$xs}{
      padding: 40px 30px 70px;
    }
    @media #{$sm}{
      padding: 40px 40px 70px;
    }
  }
  .h9_choose-item-big-content span {
    border-radius: 4px;
    border: 1px solid rgba(24, 101, 242, 0.10);
    background: rgba(24, 101, 242, 0.06);
    display: inline-block;
    padding: 5px 12px;
    color: #1865F2;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
  }

  .h9_choose-item-big-content h3 {
    color: #21242C;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.27;
    @media #{$lg}{
      font-size: 28px;
    }
    @media #{$xs}{
      font-size: 25px;
    }
    @media #{$sm}{
      font-size: 28px;
    }
    &:hover a {
      color: #1865F2;
    }
  }
  .h9_choose-item-big-content p {
    color: rgba(33, 36, 44, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
  }
.h9_choose-item-big-img {
  overflow: hidden;
  img {
    @include transition(.5s);
  }
}
  .h9_choose-item-big:hover {
    .h9_choose-item-big-img img {
      transform: scale(1.1);
    }
  }