/*
************
*************************
25. contact
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.contact {
  &-wrap {
    padding: 80px 80px 60px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(30, 30, 30, 0.1);
    position: relative;
    z-index: 1;
    margin-bottom: -160px;
    border-radius: 10px;
    @media #{$lg}{
      padding: 80px 60px 60px;
    }
    @media #{$md}{
      padding: 80px 40px 60px;
    }
    @media #{$xs}{
      padding: 60px 20px 40px;
    }
    @media #{$sm}{
      padding: 60px 40px 40px;
    }
  }
  &-content {
    border-right: 1px solid rgba(4, 0, 23, 0.14);;
    @media #{$xl}{
      padding-right: 60px;
    }
    @media #{$lg}{
      padding-right: 40px;
    }
    @media #{$md}{
      padding-right: 30px;
    }
    @media #{$xs}{
      padding-right: 0;
      border-right: 0;
    }
  }
  &-title {
    font-size: 32px;
    @media #{$xs}{
      font-size: 26px;
    }
    @media #{$sm}{
      font-size: 30px;
    }
  }
  &-form {
    &-input {
      position: relative;
      z-index: auto;
      input, textarea {
        width: 100%;
        height: 60px;
        line-height: 60px;
        border: none;
        border-bottom: 1px solid rgba(4, 0, 23, 0.14);
        padding: 0 30px;
        color: rgba(4, 0, 23, 0.6);
        font-size: 16px;
        @include placeholder {
          color: rgba(4, 0, 23, 0.6);
          font-size: 16px;
          opacity: 1;
          @include transition(.3s);
        }
      }
      .inner-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: rgba(4, 0, 23, 0.6);
        &-select {
          top: 30px;
          z-index: 99;
        }
      }
      textarea {
        height: 95px;
        line-height: 22px;
        padding-top: 20px;
      }
    }
    &-textarea {
      .inner-icon {
        top: 17px;
        transform: translateY(0);
      }
    }
    &-submit {
      display: flex;
      align-items: center;
      gap: 40px;
      @media #{$lg,$md, $xs}{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
    }
    &-btn {
      @media #{$lg ,$md, $xs}{
        order: 1;
      }
    }
    &-condition {
      .condition_label {
        display: block;
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        font-size: 15px;
        user-select: none;
      }
      .condition_label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .check_mark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid rgba(30, 30, 30, 0.2);
        border-radius: 2px;
      }
      .check_mark:after {
      content: "";
        position: absolute;
        display: none;
      }
      .condition_label input:checked ~ .check_mark:after {
        display: block;
      }
      .condition_label .check_mark:after {
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid rgba(30, 30, 30, 0.4);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
  }
}
.nice-select.contact-form-list {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: rgba(4, 0, 23, 0.6);
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(4, 0, 23, 0.14);
  border-radius: 0;
  padding: 0 30px;
  &::after {
    border-bottom: 1.5px solid rgba(30, 30, 30, 0.6);
    border-right: 1.5px solid rgba(30, 30, 30, 0.6);
    content: '';
    display: block;
    height: 7px;
    margin-top: -1px;
    pointer-events: none;
    position: absolute;
    right: 3px;
    top: 50%;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.3s ease-in-out;
    width: 7px;
  }
  ul {
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: #fff;
    margin-top: 0;
    li {
      color: rgba(4, 0, 23, 0.6);
      font-size: 15px;
      font-weight: 400;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      min-height: 50px;
      &.selected {
          font-weight: 400;
      }
    }
  }
}
.theme-btn.contact-btn {
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
}
.contact {
  &-info {
    @media #{$xl}{
      margin-left: 30px;
    }
    @media #{$lg}{
      margin-left: 10px;
    }
    @media #{$md, $xs}{
      margin-left: 0;
    }
    &-item {
      margin-bottom: 20px;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
      }
      p {
        margin-bottom: 0;
        color: var(--clr-body-heading);
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
      }
      a {
        font-size: 16px;
        display: block;
        color: var(--clr-body-heading);
        font-weight: 500;
        &:hover {
          color: var(--clr-theme-primary);
        }
      }
    }
  }
  &-social {
    span {
      color: #747474;
      font-weight: 500;
      line-height: 30px;
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      gap: 10px;
      align-items: center;
      li a {
        display: grid;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(30, 30, 30, 0.1);;
        place-items: center;
        border-radius: 4px;
        color: rgba(30, 30, 30, 0.3);;
        font-size: 15px;
        &:hover {
          background: var(--clr-theme-primary);
          color: #fff;
        }
      }
    }
  }
  &-map {
    height: 540px;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}


// home 10 css 
.h10_contact {
  &-title {
    font-size: 128px;
    font-weight: 700;
    color: #252839;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #BABABA;
    line-height: 1;
    margin-bottom: 0;
    margin-right: 150px;
    width: max-content !important;
    position: relative;
    z-index: 1;
    @media #{$lg}{
      font-size: 90px;
    }
    @media #{$md}{
      font-size: 90px;
      margin-right: 70px;
    }
    @media #{$xs}{
      font-size: 50px;
      margin-right: auto;
      margin-left: auto;
    }
    @media #{$sm}{
      font-size: 70px;
      margin-right: auto;
      margin-left: auto;
    }
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #01fe87;
      -webkit-text-fill-color: var(--clr-theme-primary-10);
      -webkit-text-stroke: 0vw transparent;
      border-right: 2px solid transparent;
      overflow: hidden;
      animation: animate 5s linear infinite;  
    }
  }
}

@keyframes animate{
  0%,10%,100%{
      width: 0;
  }
  70%,90%{
      width: 100%;
  }
}
.h10_contact-text-wrap {
  position: absolute;
  top: 100px;
  z-index: auto;
  right: 0;
  @media #{$xs} {
    left: 0;
    right: 0;
  }
  &-2 {
    position: absolute;
    bottom: 60px;
  }
}

.h10_contact-img {
  position: absolute;
  left: 15px;
  top: 0;
  right: 15px;
  z-index: -1;
}
.h10_contact {
  &-content {
    background-color: #fff;
    padding: 90px 80px 60px;
    border: 1px solid #000;
    box-shadow: 0px 10px 50px 0px rgba(30, 30, 30, 0.10);
    @media #{$lg}{
      padding: 90px 60px 60px;
    }
    @media #{$md}{
      padding: 60px 40px 30px;
    }
    @media #{$xs}{
      padding: 60px 30px 30px;
    }
    .contact {
      &-title {
        font-size: 32px;
        color: #0A0A0A;
        @media #{$xs}{
          font-size: 26px;
        }
        @media #{$sm}{
          font-size: 30px;
        }
      }
      &-form {
        &-input {
          position: relative;
          z-index: auto;
          input, textarea {
            width: 100%;
            height: 60px;
            line-height: 60px;
            border: none;
            border-bottom: 1px solid rgba(10, 10, 10, 0.14);
            padding: 0 30px;
            color: rgba(10, 10, 10, 0.6);
            font-size: 16px;
            @include placeholder {
              color: rgba(10, 10, 10, 0.6);
              font-size: 16px;
              opacity: 1;
              @include transition(.3s);
            }
          }
          .inner-icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            color: rgba(10, 10, 10, 0.6);
            &-select {
              top: 30px;
              z-index: 99;
            }
          }
          textarea {
            height: 95px;
            line-height: 22px;
            padding-top: 20px;
          }
        }
        &-textarea {
          .inner-icon {
            top: 17px;
            transform: translateY(0);
          }
        }
        &-submit {
          display: flex;
          align-items: center;
          gap: 40px;
          @media #{$lg,$md, $xs}{
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
          }
        }
        &-btn {
          .h10_contact-btn {
            padding: 0 45px;
            border-radius: 0 !important;
          }
          @media #{$lg ,$md, $xs}{
            order: 1;
          }
        }
        &-condition {
          .condition_label {
            display: block;
            position: relative;
            padding-left: 22px;
            cursor: pointer;
            font-size: 15px;
            user-select: none;
          }
          .condition_label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .check_mark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 14px;
            width: 14px;
            background-color: transparent;
            border: 1px solid rgba(10, 10, 10, 0.20);;
            border-radius: 2px;
          }
          .check_mark:after {
          content: "";
            position: absolute;
            display: none;
          }
          .condition_label input:checked ~ .check_mark:after {
            display: block;
          }
          .condition_label .check_mark:after {
            left: 4px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: solid rgba(10, 10, 10, 0.4);
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
.row.justify-content-end.pt-110.pt-xs-60 {
  @media #{$xs} {
    padding-top: 60px;
  }
  @media #{$sm} {
    padding-top: 40px;
  }
}