/*
************
*************************
18. cta
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// home 1 css start
.cta {
  &-area {
    position: relative;
    z-index: 9;
    margin-bottom: -120px;
  }
  &-wrapper {
    background-color: var(--clr-theme-primary);
    border-radius: 10px;
    padding: 50px 80px 40px;
    box-shadow: 0px 30px 80px rgba(30, 30, 30, 0.3);
    @media #{$lg}{
      padding: 50px 50px 40px;
    }
    @media #{$md}{
      padding: 50px 50px 50px;
    }
    @media #{$xs}{
      padding: 40px 30px 40px;
    }
    @media #{$sm}{
      padding: 50px 50px 50px;
    }
  }
  &-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    margin-bottom: 0;
    @media #{$lg}{
      font-size: 36px;
    }
    @media #{$md}{
      font-size: 35px;
    }
    @media #{$xs}{
      font-size: 30px;
    }
    @media #{$sm}{
      font-size: 35px;
    }
  }
  &-subtitle {
    color: #E8184D;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    background-color: #FDF5F7;
    padding: 10px 25px;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: #E8184D;
      content: "";
    }
    @media #{$xs}{
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  &-button {
    display: flex;
    gap: 20px;
    justify-content: end;
    @media #{$md, $xs}{
      justify-content: flex-start;
    }
    @media #{$xs}{
      flex-direction: column;
    }
    @media #{$sm}{
      flex-direction: row;
    }
  }
  &-btn {
    height: 55px;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 25px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    line-height: 55px;
    i {
      font-size: 18px;
      margin-right: 10px;
    }
    &:hover {
      background: #fff;
      color: var(--clr-body-heading);
    }
    @media #{$xs}{
      text-align: center;
    }
  }
}

// home 2 css start
.h2_cta {
  &-content {
    &-form{
      position: relative;
      z-index: 1;
      margin: 0 40px;
      @media #{$xs}{
        margin: 0 15px;
      }
      @media #{$sm}{
        margin: 0 40px;
      }
      input {
        width: 100%;
        height: 55px;
        line-height: 55px;
        padding-left: 25px;
        border-radius: 6px;
        border: none;
        padding-right: 195px;
        color: rgba(30, 30, 30, 0.6);
        background-color: #fff;
        font-size: 15px;
        box-shadow: 0px 6px 30px rgba(30, 30, 30, 0.1);
        @include placeholder {
          color: rgba(30, 30, 30, 0.6);
          font-size: 15px;
          opacity: 1;
          @include transition(.3s);
        }
        @media #{$xs}{
          padding-right: 25px;
        }
        @media #{$sm}{
          padding-right: 100px;
        }
      }
      button {
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        line-height: 40px;
        background: var(--clr-theme-primary);
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 20px;
        @media #{$xs}{
          position: relative;
          top: 15px;
          transform: none;
          right: 0;
          width: 100%;
        }
        @media #{$sm}{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 7px;
          width: auto;
        }
      }
    }
  }
}

// home 3 css start

.h3_cta {
  &-area {
    .cta-wrapper {
      background-color: var(--clr-theme-primary-3);
    }
  }
}
// home 4 css start

.h4_cta {
  &-area {
    .cta-wrapper {
      background-color: var(--clr-theme-primary-4);
    }
  }
}
// home 5 css start

.h5_cta {
  &-area {
    .cta-wrapper {
      background-color: var(--clr-theme-primary-5);
    }
    .cta-title {
      color: var(--clr-body-heading);
    }
    .cta-btn {
      color: var(--clr-body-heading);
      border-color: var(--clr-body-heading);
      &:hover {
        border-color: transparent;
      }
    }
  }
}

// home 6 css

.h6_cta {
  &-area {
    position: relative;
    z-index: 9;
    margin-bottom: -120px;
  }
  &-wrapper {
    background-color: var(--clr-theme-primary);
    padding: 55px 60px 55px 370px;
    box-shadow: 0px 30px 80px rgba(30, 30, 30, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    @media #{$xl}{
      padding: 55px 60px 55px 280px;
    }
    @media #{$lg}{
      padding: 55px 60px 55px 280px;
    }
    @media #{$xs} {
      flex-wrap: wrap;
      padding: 50px 35px 50px 35px;
    }
    @media #{$md, $sm}{
      padding: 55px 50px 55px 50px;
    }

    &-img {
      position: absolute;
      left: 50px;
      bottom: 0;
      @media #{$xl, $lg}{
        left: 0;
      }
      @media #{$md, $xs}{
        display: none;
      }
    }
    
  }
  &-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    @media #{$lg}{
      font-size: 36px;
    }
    @media #{$md}{
      font-size: 35px;
    }
    @media #{$xs}{
      font-size: 30px;
    }
    @media #{$sm}{
      font-size: 35px;
    }
  }
  &-content {
    width: 460px;
    @media #{$lg}{
      width: 380px;
    }
    @media #{$md}{
      width: 65%;
    }
    @media #{$xs} {
      width: 100%;
    }
  }
  &-btn {
    height: 55px;
    background-color: #fff;
    color: var(--clr-theme-primary-6);
    padding: 0 30px;
    line-height: 55px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    i {
      font-size: 16px;
    }
    &:hover {
      background: var(--clr-theme-primary-6);
      color: #fff;
    }

  }
}


// home 8 css 
.h8_cta-area {
  .h6_cta-wrapper {
    border-radius: 10px;
  }
}

// home 9 css 
.h9_cta-area {
  .h6_cta-wrapper {
    border-radius: 10px;
  }
}