/*
************
*************************
22. CBSE
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.innerPage_CBSE-tab {
  .nav {
    justify-content: end;
    @media #{$md, $xs}{
      justify-content: flex-start;
    }
    .nav-item {
      margin-bottom: 10px;
      .nav-link {
        padding: 0;
        background: transparent;
        color: var(--clr-body-heading);
        font-size: 15px;
        margin-right: 25px;
        display: flex;
        position: relative;
        z-index: 1;
        span {
          position: absolute;
          left: 0;
          top: -25px;
          background-color: var(--clr-theme-primary);
          color: #fff;
          display: block;
          font-size: 12px;
          padding: 4px 8px;
          line-height: 1;
          &::before {
            position: absolute;
            left: 3px;
            bottom: -6px;
            content: "";
            width: 9px;
            height: 8px;
            background: var(--clr-theme-primary);
            clip-path: polygon(0 0, 50% 100%, 100% 0);
          }
        }
      }
      &:last-child {
        .nav-link {
          margin-right: 0;
        }
      }
    }
  }
}
.innerPage_CBSE-tab {
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--clr-theme-primary);
  }
}
  
.innerPage_CBSE {
  &-item {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  &-img img {
    width: 100%;
  }
  &-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(30, 30, 30, 0.6);
      z-index: 1;
    }
    a {
      width: 90px;
      height: 90px;
      background: #fff;
      display: grid;
      place-items: center;
      border-radius: 50%;
      font-size: 20px;
      color: var(--clr-theme-primary);
      z-index: 99;
      i {
        font-weight: 300;
      }
    }
  }
}
.innerPage_CBSE-item:hover {
  .innerPage_CBSE-content {
    opacity: 1;
    visibility: visible;
  }
}