/*
************
*************************
05. section
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// section area 
.section-area {
  .section-subtitle {
    color: #D2093C;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(210, 9, 59, 0.04);
    padding: 10px 25px;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    @media #{$xs}{
      font-size: 14px;
      padding: 10px 20px;
    }
    @media #{$sm}{
      font-size: 15px;
      padding: 10px 25px;
    }
  }
  .section-subtitle::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #D2093C;
    content: "";
  }
  .section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.7);
  }
}
// section area top border 
.section-area-top {
  .section-subtitle::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
  }
}

// home 1 banner section 
.banner-content {
  .section-subtitle {
    background-color: #fff;
    margin-bottom: 15px;
  }
  .section-title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 15px;
    @media #{$xl}{
      font-size: 60px;
      margin-bottom: 20px;
    }
    @media #{$lg}{
      font-size: 45px;
      margin-bottom: 20px;
    }
    @media #{$md}{
      font-size: 45px;
      margin-bottom: 20px;
    }
    @media #{$xs}{
      font-size: 35px;
      margin-bottom: 20px;
    }
    @media #{$sm}{
      font-size: 45px;
    }
  }
  .section-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .section-title span img {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 10px;
    animation: section-animation 5s linear 0s infinite;
  }
  .section-text {
    margin-bottom: 43px;
    color: rgba(30, 30, 30, 0.6);
    @media #{$lg, $md, $xs}{
      br {
        display: none;
      }
    }
  }
}

// section area 2
.section-area-2 {
  .section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--clr-theme-primary);
  }
  .section-title span img {
    position: absolute;
    left: 0;
    bottom: -7px;
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 10px;
    animation: section-animation 5s linear 0s infinite;
  }
  .section-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.7);
  }
}

// home 2 banner section 
.h2_banner-content {
  .section-title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    @media #{$xl}{
      font-size: 60px;
      margin-bottom: 20px;
    }
    @media #{$lg}{
      font-size: 50px;
      margin-bottom: 20px;
    }
    @media #{$md}{
      font-size: 45px;
      margin-bottom: 20px;
    }
    @media #{$xs}{
      font-size: 33px;
      margin-bottom: 20px;
    }
    @media #{$sm}{
      font-size: 45px;
    }
  }
  .section-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--clr-theme-primary);
  }
  .section-title span img {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: calc(100% - 25px);
    display: inline-block;
    margin-left: 10px;
  }
  .section-text {
    margin-bottom: 43px;
    color: rgba(30, 30, 30, 0.6);
  }
}


// section area 3
.section-area-3 {
  .section-subtitle {
    color: var(--clr-theme-primary-3);
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
  }
  .section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.7);
    letter-spacing: 0.15px;
  }
}

// home 3 banner section 
.h3_banner-content {
  .section-subtitle {
    color: var(--clr-body-heading);
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    @media #{$xl}{
      font-size: 60px;
      margin-bottom: 20px;
    }
    @media #{$lg}{
      font-size: 45px;
      margin-bottom: 20px;
    }
    @media #{$md}{
      font-size: 45px;
      margin-bottom: 20px;
    }
    @media #{$xs}{
      font-size: 35px;
      margin-bottom: 20px;
    }
    @media #{$sm}{
      font-size: 45px;
    }
  }
  .section-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--clr-theme-primary-3);
  }
  .section-text {
    font-size: 17px;
    margin-bottom: 43px;
    color: rgba(30, 30, 30, 0.7);
  }
}

// section area 4
.section-area-4 {
  .section-subtitle {
    color: var(--clr-theme-primary-3);
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
  }
  .section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.7);
  }
}
.section-white-4 {
  .section-title {
    color: #fff;
  }
  .section-text {
    color: rgba(255, 255, 255, 0.7);
  }
}

// home 4 banner section 
.h4_banner-content {
  .section-title {
    font-size: 90px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
    @media #{ $md, $xs}{
      br {
        display: none;
      }
    }
    @media #{$lg}{
      font-size: 80px;
    }
    @media #{$md}{
      font-size: 75px;
    }
    @media #{$xs}{
      font-size: 45px;
    }
    @media #{$sm}{
      font-size: 60px;
    }
  }
  .section-title span {
    display: inline-block;
    font-weight: 900;
    color: var(--clr-theme-primary-4);
  }
  .section-text {
    font-size: 16px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.7);
  }
}


// section area 5
.section-area-5 {
  .section-subtitle {
    color: var(--clr-body-heading);
    font-size: 16px;
    display: block;
  }
  .section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    color: rgba(30, 30, 30, 0.7);
  }
}

// section area 6
.section-area-6 {
  .section-subtitle {
    color: var(--clr-theme-primary-6);
    font-size: 16px;
    display: block;
  }
  .section-title {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    @media #{$xs}{
      font-size: 33px;
    }
    @media #{$sm}{
      font-size: 44px;
    }
  }
  .section-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: #666;
    @media #{$xs}{
      br {
        display: none;
      }
    }
  }
}
.section-area-6-admin {
  position: relative;
  z-index: 1;
  display: block;
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 500;
  padding-left: 55px;
  line-height: 21px;
  margin-top: 30px;
}
.section-area-6-admin::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 45px;
  height: 1px;
  background: #0A0A0A;
}

// section area 8
.section-area-8 {
  .section-subtitle {
    color: #F14D5D;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
    @media #{$xs}{
      font-weight: 500;
    }
  }
  .section-title {
    color: #021936;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;

    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
      br {
        display: none;
      }
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    margin-bottom: 0;
    color: rgba(2, 25, 54, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}

// section area 9
.section-area-9 {
  .section-subtitle {
    color: #1865F2;
    font-size: 16px;
    font-weight: 500;
    display: block;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .section-title {
    color: #0A0A0A;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2; 
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
}


// section area 10
.section-area-10 {
  .section-title {
    color: #0A0A0A;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.1;

    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 40px;
    }
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 40px;
    }
  }
  .section-text {
    margin-bottom: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}


// small fontSize section 
.small-section-area-2 {
  .section-title {
    font-size: 40px;
    span img {
      bottom: -10px;
    }
    @media #{$xs}{
      font-size: 32px;
      br {
        display: none;
      }
    }
    @media #{$sm}{
      font-size: 35px;
      br {
        display: block;
      }
    }
  }
}

// small fontSize section 
.small-section-area-3 {
  .section-title {
    font-size: 40px;
    line-height: 1.25;
    @media #{$xs}{
      font-size: 32px;
    }
    @media #{$sm}{
      font-size: 35px;
    }
  }
}

// blog section 
.h2_blog-section-area {
  .section-title {
    span {
      color: var(--clr-body-heading);
    }
  }
}

// cta section 
.h2_cta-content {
  .section-area-2 .section-title span {
    color: var(--clr-body-heading);
  }
}

// teacher section 
.h2_teacher-section {
  .section-area-2 .section-title span {
      color: var(--clr-body-heading);
    }
}

@keyframes section-animation {
  0% {
    width: 0;
  }
  15% {
    width: 100%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}