
/*
************
*************************
24. team details
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.teacher_details{
    &-title {
        font-size: 28px;
        margin-bottom: 5px;
        @media #{$xs}{
            font-size: 25px;
        }
        @media #{$sm}{
            font-size: 28px;
        }
    }
    &title2{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.1;
    }
    &-admin {
        margin-bottom: 11px;
        span {
            font-size: 16px;
            display: block;
        }
    }
    &-rating {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
        ul {
            display: flex;
            align-items: center;
            gap: 5px;
            li {
                i {
                    font-size: 14px;
                    color: #f8b81f;
                }
            }
        }
        span {
            font-size: 14px;
            color: var(--clr-body-heading);
        }
    }
}
.teacher_details{
    &-info ul {
        margin-bottom: 17px;
        li {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            margin-bottom: 6px;
            span {
                font-size: 16px;
                font-weight: 500;
                color: var(--clr-body-heading);
                min-width: 70px;
            }
            a {
                &:hover {
                    color: var(--clr-theme-primary);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-social {
        display: flex;
        gap: 10px;
        a {
            display: grid;
            width: 40px;
            height: 40px;
            border: 1px solid rgba(30, 30, 30, 0.15);
            place-items: center;
            border-radius: 50%;
            color: rgba(30, 30, 30, 0.3);;
            font-size: 14px;
            &:hover {
              background: var(--clr-theme-primary);
              color: #fff;
              border-color: transparent;
            }
        }
    }
}
