/*
************
*************************
14. testimonial
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.testimonial {
  &-item {
    padding: 50px 35px 45px;
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;
    @media #{$lg ,$sm}{
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &-admin {
    display: flex;
    gap: 10px;
    align-items: center;
    &-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-info {
      h5 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        display: block;
      }
    }
  }
}
.testimonial-rating ul li {
  display: inline-block;
  font-size: 14px;
  color: #FFA121;
}
.testimonial-content p {
  color: #1E1E1E;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 26px;
}
.testimonial-scrollbar-wrap {
  position: relative;
  .swiper-scrollbar.testimonial-scrollbar {
    height: 3px;
    border-radius: 0;
    background: rgba(30, 30, 30, 0.1);
  }
  .swiper-scrollbar-drag {
    border-radius: 0;
    background-color: var(--clr-theme-primary);
  }
}

// home 3 css start

.h3_testimonial{
  &-area {
    background-color: var(--clr-color-lightPink);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  &-shape {
    &-1 {
      position: absolute;
      left: 65px;
      top: 120px;
      animation: animation-upDown-2 3s linear 0s infinite alternate;;
      @media #{$xxl}{
        left: 30px;
        top: 70px;
      }
      @media #{$xl}{
        left: 30px;
        top: 70px;
      }
      @media #{$lg}{
        left: 30px;
        top: 70px;
      }
      @media #{$md}{
        left: 30px;
        top: 70px;
      }
      @media #{$xs}{
        display: none;
      }
    }
    &-2 {
      position: absolute;
      left: 180px;
      bottom: 180px;
      animation: animation-leftRight-1 3s linear 0s infinite alternate;
      @media #{$xxxl}{
        left: 80px;
      }
      @media #{$xxl}{
        left: 10px;
      }
      @media #{$xl}{
        left: 10px;
        bottom: 40px;
      }
      @media #{$lg, $md, $xs}{
        display: none;
      }
    }
    &-3 {
      position: absolute;
      top: 70px;
      right: 690px;
      animation: hero-circle-1 6s linear 0s infinite;
      @media #{$xl}{
        right: 390px;
      }
      @media #{$lg}{
        right: 300px;
      }
      @media #{$md}{
        right: 200px;
      }
      @media #{$xs}{
        display: none;
      }
    }
    &-4 {
      position: absolute;
      bottom: 40px;
      right: 365px;
      animation: animation-leftRight-1 3s linear 0s infinite alternate;
      @media #{$lg}{
        right: 300px;
      }
      @media #{$md}{
        right: 50%;
      }
      @media #{$xs}{
        display: none;
      }
    }
  }
  &-item {
    background: #fff;
    border-radius: 20px;
    padding: 105px 80px 90px;
    position: relative;
    z-index: 1;
    @media #{ $xs}{
      padding: 70px 30px 80px;
    }
    @media #{$sm}{
      padding: 70px 50px 80px;
    }
    &-author {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-shrink: 0;
      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }
      &-info {
        h5 {
          font-size: 18px;
          margin-bottom: 0;
          font-weight: 600;
        }
        span {
          font-size: 16px;
          display: block;
        }
      }
    }
    &-content {
      .quote {
        position: absolute;
        left: 80px;
        top: 50px;
        z-index: -1;
        @media #{ $xs}{
          left: 50px;
          top: 40px;
        }
      }
      p {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 40px;
        color: rgba(30, 30, 30, 0.7);
      }
    }
  }
  &-active {
    margin-right: -680px;
    @media #{ $xs}{
      margin-right: 0;
    }
  }
  &-navigation {
    display: flex;
    gap: 10px;
    justify-content: end;
    div {
      width: 50px;
      height: 50px;
      border-radius: 6px;
      display: grid;
      place-items: center;
      font-size: 14px;
      color: #1E1E1E;
      border: 1.5px solid rgba(30, 30, 30, 0.15);
      @include transition(.3s);
      &:hover {
          background-color: var(--clr-theme-primary-3);
          border-color: transparent;
          color: #fff;
      }
    }
    @media #{$xs}{
      justify-content: flex-start;
    }
  }
}

// home 4 css start

.h4_testimonial {
  &-area {
    background-color: #ECECF9;
  }
}

// home 6 css 

.h6_testimonial {
  &-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(10, 10, 10, 0.40);
      z-index: -1;
    }
  }
  &-wrap {
    &.mr-60 {
      @media #{$lg, $md, $xs}{
        margin-right: 0;
      }
    }
  }
  &-title {
    font-size: 128px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    line-height: 1.25;
    margin-bottom: 0;
    margin-right: 150px;
    width: max-content !important;
    opacity: 0.2;
    @media #{$xs}{
      font-size: 80px;
    }
  }
  &-navigation {
    display: flex;
    gap: 10px;
    justify-content: end;
    div {
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
      font-size: 14px;
      background-color: #fff;
      @include transition(.3s);
      svg {
        @include transition(.3s);
        color: rgba(0, 0, 0, 0.8);
      }
      &:hover {
        background-color: var(--clr-theme-primary-6);
        svg {
          color: #fff;
        }
      }
    }
    @media #{$xs}{
      justify-content: flex-start;
    }
  }
}
.testimonial-text-wrap {
  position: absolute;
  top: 40px;
}

.h6_testimonial-item {
  blockquote {
    background: #fff;
    padding: 50px 60px 50px 145px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    &::before{
      content: "\f10d";
      font-weight: 700;
      position: absolute;
      font-family: "Font Awesome 5 Pro";
      font-size: 52px;
      color: #0A0A0A;
      line-height: 1;
      display: inline-block;
      left: 70px;
      top: 60px;
    }
    p {
      color: #666;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      @media #{$xs}{
        font-size: 16px;
      }
      @media #{$sm}{
        font-size: 18px;
      }
    }
    @media #{$xs}{
      padding: 125px 30px 50px 30px;
      &::before {
        left: 30px;
        top: 40px;
      }
    }
    @media #{$sm}{
      padding: 125px 50px 50px 50px;
      &::before {
        left: 50px;
        top: 40px;
      }
    }
  }
  .quote-admin {
    display: flex;
    justify-content: end;
    &-inner {
      h5 {
        color: #0A0A0A;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          left: -65px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          background: #0A0A0A;
          width: 50px;
          height: 2px;
        }
      }
      span {
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        display: inline-block;
      }
    }
  }
}

// home 8 css 

.h8_testimonial {
  &-area {
    background-color: #F4F7FF;
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
  }
  &-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(8, 5, 33, 0.06);
    padding: 35px 40px 35px;
    position: relative;
    z-index: 1;
    @include transition(.3s);
    @media #{$md}{
      padding: 35px 24px 35px;
    }
    @media #{$xs}{
      padding: 35px 30px 35px;
    }
    &:hover {
      box-shadow: 0px 20px 100px 0px rgba(25, 35, 53, 0.30);
    }
    p {
      color: rgba(2, 25, 54, 0.7);
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 28px;
      @media #{$xs}{
        br {
          display: none;
        }
      }
    }
    &-admin {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 20px;
    }
    &-img {
      width: 65px;
      height: 65px;
      flex-shrink: 0;
      border-radius: 50%;
    }
    &-info {
      h4 {
        color: #021936;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 5px;
        @media #{$xs}{
          font-size: 16px;
        }
        @media #{$sm}{
          font-size: 20px;
        }
        &:hover a {
          color: #395BDF;
        }
      }
      span {
        color: rgba(2, 25, 54, 0.7);
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        display: block;
      }
    }
    &-rating {
      ul {
        display: flex;
        gap: 5px;
        li {
          font-size: 18px;
          color: #F2A22A;
        }
      }
    }
  }
  &-quote {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}



// home 9 css 

.h9_testimonial {
  &-area {
    background: #F5F5F5;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }
  &-title {
    color: #21242C;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.35;
    text-decoration-line: underline;
    margin-bottom: 67px;
    @media #{$xs}{
      font-size: 32px;
    }
  }
  &-item {
    p {
      color: #21242C;
      font-size: 30px;
      font-weight: 400;
      line-height: 46px;
      margin-bottom: 45px;
      @media #{$xs}{
        font-size: 20px;
        line-height: 32px;
      }
    }
    h6 {
      color: #21242C;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      display: flex;
      align-items: center;
      gap: 34px;
      margin-bottom: 0;
      span {
        color: rgba(11, 23, 40, 0.70);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        display: block;
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          left: -19px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 4px;
          height: 4px;
          background: rgba(11, 23, 40, 0.20);
          @include transition(.3s);
          border-radius: 50%;
        }
      }
    }
  }
}

.h9_testimonial-img {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.h9_testimonial-thumb-wrap {
  width: 300px;
  @media #{$xs}{
    width: 280px;
  }
  @media #{$sm}{
    width: 300px;
  }
  .swiper-slide-thumb-active {
    .h9_testimonial-img {
      img {
        border: 1px solid #1865F2;
        padding: 9px;
      }
    }
  }
}

.h9_testimonial {
  &-wrap {
    border-radius: 500px 0px 0px 500px;
    background: #FFF;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      top: 0;
      right: -100%;
      content: "";
      height: 100%;
      width: 100%;
      background-color: #fff;
      z-index: -1;
    }
  }
}

.h9_testimonial {
  &-pagination {
    &.swiper-pagination-bullets {
      position: absolute;
      right: 120px;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
      left: auto;
      width: auto;
      text-align: center;
      line-height: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      z-index: 9;
    }
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      cursor: pointer;
      display: inline-block;
      border-radius: 50%;
      background: transparent;
      opacity: 1;
      @include transition(.3s);
      background-color: rgba(33, 36, 44, 0.14);
      position: relative;
      z-index: 1;
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 8px;
        height: 8px;
        width: 24px;
        height: 24px;
        border: 1px solid #1865F2;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
      }
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0;
      &.swiper-pagination-bullet-active {
        margin: 8px 0;
      }
      &:first-child {
        &.swiper-pagination-bullet-active {
          margin-bottom: 8px;
          margin-top: 0;
        }
      }
      &:last-child {
        &.swiper-pagination-bullet-active {
          margin-top: 8px;
          margin-bottom: 0;
        }
      }
    }
    .swiper-pagination-bullet-active {
      background-color: #1865F2;
      &::before { 
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-navigation {
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99;
    @media #{$md}{
      top: auto;
      transform: unset;
      bottom: 40px;
      flex-direction: row;
      left: 40px;
    }
    @media #{$xs}{
      top: auto;
      transform: unset;
      bottom: 30px;
      flex-direction: row;
      left: 15px;
    }
    @media #{$sm}{
      left: 35px;
    }
    div {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: #FFF;
      box-shadow: 0px 1px 2px 0px rgba(33, 36, 44, 0.14);
      color: rgba(17, 7, 24, 1);
      display: grid;
      place-items: center;
      font-size: 14px;
      @include transition(.3s);
      &:hover {
        background: #1865F2;
        color: #fff;
      }
      @media #{$md, $xs}{
        transform: rotate(-90deg);
      }
    }
  }
}


// home 10 css 
.h10_testimonial {
  &-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
  }
  &-wrap {
    &.mr-45 {
      @media #{$xl, $lg, $md, $xs}{
        margin-right: 0;
      }
    }
  }
  &-text-wrap {
    position: absolute;
    top: 90px;
  }
  &-title {
    font-size: 128px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #B7B7B7;
    line-height: 1.25;
    letter-spacing: -15px;
    @media #{$lg} {
      font-size: 90px;
      letter-spacing: -10px;
    }
    @media #{$xs}{
      font-size: 45px;
      letter-spacing: -3px;
    }
    @media #{$sm}{
      font-size: 80px;
    }
    span {
      position: relative;
      img {
        position: absolute;
        top: -15px;
        left: -30px;
        transform: rotate(-15deg);
        @media #{$xs} {
          top: -10px;
          left: -10px;
        }
        @media #{$sm} {
          top: -10px;
          left: -15px;
        }
      }
    }
  }
  &-navigation {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 50px;
    bottom: 10px;
    z-index: 99;
    @media #{$md}{
      right: 0;
    }
    @media #{$xs}{
      right: 0;
      bottom: 50px;
    }
    div {
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      font-size: 14px;
      background-color: #F6F6F6;
      @include transition(.3s);
      svg {
        @include transition(.3s);
        color: rgba(0, 0, 0, 0.8);
      }
      &:hover {
        background-color: var(--clr-theme-primary-10);
        svg {
          color: #fff;
        }
      }
    }
    @media #{$xs}{
      justify-content: flex-start;
    }
  }
  &-img {
    &.ml-10 {
      @media #{$lg, $md, $xs} {
        margin-left: 0;
      }
    }
  }
}

.h10_testimonial-item {
  blockquote {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    &::before{
      content: "\f10d";
      font-weight: 700;
      font-family: "Font Awesome 5 Pro";
      font-size: 90px;
      color: #EDEDED;
      line-height: 56px;
      display: inline-block;
      margin-bottom: 35px;
    }
    p {
      color: #666;
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 55px;
      @media #{$xs}{
        font-size: 16px;
      }
      @media #{$sm}{
        font-size: 18px;
      }
    }
  }
  .quote-admin {
    &-inner {
      margin-left: 132px;
      h5 {
        color: #0A0A0A;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;

      }
      span {
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        display: inline-block;
      }
    }
  }
}

.h10_testimonial {
  &-admin {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid transparent;
    }
  }
}

.h10_testimonial {
  &-thumb-wrap {
    width: 112px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    @media #{$xs}{
      bottom: 110px;
    }
    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 2px;
      height: 45px;
      background-color: #D9D9D9;
    }
  }
  &-thumbs {
    .swiper-slide {
      z-index: 1;
      .h10_testimonial-admin {
        margin-left: 35px;
      }
      &.swiper-slide-thumb-active {
        z-index: 9;
        .h10_testimonial-admin {
          margin-left: 0;
          img {
            border-color: #fff;
          }
        }
      }
    }
  }
  &-active {
    @media #{$xs}{
      padding-bottom: 110px;
    }
  }
}