/*
************
*************************
34. tuition
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.h6_tuition {
    &-content {
        margin-right: 25px;
        h2 {
            color: #17161C;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 11px;
            @media #{$xs}{
                font-size: 35px;
            }
            @media #{$sm}{
                font-size: 40px;
            }
        }
        p {
            color: #666;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 25px;
            @media #{$xl, $xs}{
                br {
                    display: none;
                }
            }
        }
        a {
            color: var(--clr-theme-primary-6);
            font-size: 16px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            position: relative;
            z-index: 1;
            &::before{
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                background-color: var(--clr-theme-primary-6);
            }
        }
        img {
            margin-bottom: 23px;
        }
    }
    &-wrap {
        display: flex;
        gap: 30px;
        @media #{$xs}{
            flex-wrap: wrap;
        }
    }
    &-item {
        flex-shrink: 0;
        width: calc(50% - 15px);
        background: #222;
        padding: 55px 45px 45px;
        @media #{$xl, $md}{
            padding: 55px 40px 45px;
        }
        @media #{$xs}{
            width: 100%;
            padding: 55px 30px 45px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 55px 40px 45px;
        }
        &-date {
            color: #09DB12;
            font-size: 14px;
            font-weight: 600;
            display: block;
            line-height: 20px;
            margin-bottom: 5px;
        }
        &-title {
            color: #FFF;
            font-size: 26px;
            font-weight: 700;
            display: inline-block;
            position: relative;
            z-index: 1;
            padding-bottom: 5px;
            margin-bottom: 50px;
            &::before{
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: rgba(255, 255, 255, 0.14);
            }
        }
        &-list {
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            li {
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                position: relative;
                z-index: 1;
                padding-left: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: var(--clr-theme-primary-6);
                    border-radius: 50%;
                }
            }
        }
        &-total {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    &-light {
        background-color: #F6F6F6;
        .h6_tuition-item-date {
            color: var(--clr-theme-primary-6);
        }
        .h6_tuition-item-title,
        .h6_tuition-item-list li,
        .h6_tuition-item-total {
            color: var(--clr-body-heading);
        }
        .h6_tuition-item-title::before {
            background-color: #D9D9D9;
        }
        .h6_tuition-item-list {
            border-color: #D9D9D9;
        }
    }
}