/*
************
*************************
31. video
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.h5_video {
    &-area {
        min-height: 650px;
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        background-attachment: fixed;
    }
    &-content {
        &-btn {
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
        }
    }
}