$colors: (
    common: (
        white: #fff,
        black: #222222,
        lightBlack: #38383A,
        darkBlack: #000000,
    ),
    body: (
        heading: #1E1E1E,
        text: rgba(30, 30, 30, 0.6),
    ),
    color: (
        lightBlue: #BBE8EB,
        darkPink: #D2093C,
        lightPink: #F7ECF9,
        lightPurple: #F3F4FD,
    ),
    theme: (
        primary: #1268EB,
        primaryDark: #08449E,
        primary-3: #F5530D,
        primary-4: #F6BA2A,
        primary-5: #F3EB1E,
        primary-6: #B1040E,
        primary-8: #395BDF,
        primary-9: #1865F2,
        primary-10: #4846AB,
    ),
    bg: (
        gray: #F6F6F6,
        gray-2: #F1F1F1,
    )
)